<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Note</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='button.css') }}">
	<script type="text/javascript">
		function createNote(){
			var xmlhttp;
			if (window.XMLHttpRequest) {
			// code for IE7+, Firefox, Chrome, Opera, Safari
  				xmlhttp=new XMLHttpRequest();
  			}
			else {
			// code for IE6, IE5
  				xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
  			}
			xmlhttp.onreadystatechange = function() {
  				if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
  					var content = document.getElementById("note_editor").value;
    				var timeLine = document.getElementById("note_timeline");
    				var notes = document.getElementsByClassName("note");
    				var newNote = document.createElement("div");
    				newNote.className = "note";
    				var divContent = document.createElement("div");
    				divContent.className = "content";
    				var textContent = document.createTextNode(content);
    				divContent.appendChild(textContent);
    				newNote.appendChild(divContent);

    		  		var divTime = document.createElement("div");
    		  		divTime.className = "time";
    		  		var textTime = document.createTextNode(xmlhttp.responseText);
    				divTime.appendChild(textTime);
    		  		newNote.appendChild(divTime);
    		  		var hr = document.createElement("hr");
    				timeLine.insertBefore(hr, notes[0]);
    				timeLine.insertBefore(newNote, hr);
    				document.getElementById("note_editor").value="";
    			}
  			}
  			var content = document.getElementById("note_editor").value;
  			requestParam = "content=" + content;
			xmlhttp.open("POST","/create",true);
			xmlhttp.setRequestHeader("Content-type","application/x-www-form-urlencoded");
			xmlhttp.send(requestParam);
		}
	</script>
</head>
<body>
	<div id="main">
		<div id="home_form">
			<textarea id="note_editor" name="content"></textarea>
			<button id="send" class="button" onclick="createNote()">SEND</button>
		</div>
		<div id="note_timeline">
			<hr>
  			{% for note in notes %}
  				<div class="note">
    				<div class="content">{{ note.content }}</div>
    				<div class="time">{{ note.time }}</div>
    			</div>
    			<hr>
  			{% endfor %}
		</div>
	</div>
</body>
</html>